page{
  background-color: #fff;
  font-weight: 500;
  font-size: 28rpx;
}
.tenants {
  margin-bottom: 80rpx;
}
.item {
  border-bottom: 1rpx #e1e1e1 solid;
  padding: 20rpx 40rpx;
}

.item input {
  text-align: end;
}

.classification {
  display: flex;
  flex-direction: column;
  .selected {
    margin-top: 18rpx;
    margin-bottom: 18rpx;
    span {
      border: 1rpx solid #2F91FF;
      padding: 10rpx;
      margin: 0rpx 10rpx 0 10rpx;
    }
  }
  .select {
    margin-top: 18rpx;
    margin-bottom: 18rpx;
    display: flex;
    flex-wrap: wrap;
    span {
      border: 1rpx solid #3CDFFF;
      padding: 10rpx;
      margin: 10rpx 10rpx 0rpx 10rpx;
    }
    .Categotyspan {
      background: #fc624d;
    }
  }
}

.btn-grounp{
  width: 100%;
  margin: 80rpx 0;
}

.btn-ct,
.btn-qd {
  font-weight: 600;
  font-size: 40rpx;
  color: #fff;
  width: 200rpx !important;
}

.btn-qd{
  background: linear-gradient(0deg, #3CDFFF, #2F91FF);
  margin-right: 40rpx;
}
.btn-ct {
  background-color: #fc624d;
}

.raco {
  border: 1rpx dashed #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 40rpx auto;
}

.raco image {
  height: 360rpx;
  padding: 20rpx 0;
}

.uploadText {
  text-align: center;
  margin-top: 40rpx;
}

